---
import Layout from '../layouts/Layout.astro';
import '../styles/projects.less';
import '../styles/lightbox.less';
import rawData from '../data/project_data.json';

interface TagDef {
  displayName: string;
  iconUrl: string;
}

interface Tag extends TagDef {
  name: string;
  count: number;
}

interface ProjectRaw {
  id: string;
  displayName: string;
  chrono: string;
  image: string;
  link: string | null;
  git?: string;
  tags: string[];
  technologies: string;
  description: string;
  screens: string[];
  company: string | null;
  companyHref?: string;
}

interface Project extends ProjectRaw {
  tagNames: string;
  linkClass: string;
  _tags: Tag[];
}

// Count tag usage across all projects
const tagCounts: Record<string, number> = {};
for (const project of rawData.projects as ProjectRaw[]) {
  for (const tagName of project.tags) {
    tagCounts[tagName] = (tagCounts[tagName] ?? 0) + 1;
  }
}

// Build enriched tag map
const tags: Record<string, Tag> = Object.fromEntries(
  Object.entries(rawData.tags as Record<string, TagDef>).map(([name, tag]) => [
    name,
    { ...tag, name, count: tagCounts[name] ?? 0 },
  ])
);

// Build enriched projects
const projects: Project[] = (rawData.projects as ProjectRaw[]).map((project) => ({
  ...project,
  tagNames: project.tags.join(' '),
  linkClass: project.link ? '' : 'no-mouse',
  _tags: project.tags.map((name) => tags[name]).filter(Boolean),
}));

// Only show tags that are actually used
const tagList = Object.values(tags).filter((tag) => tag.count > 0);
---

<Layout title="Projects - Sreenath Somarajapuram" bodyClass="projects-page">

  <div class="title-bar outer-block grey-gradiant-half">
    <div class="inner-block v-padding-2x">
      <div class="heading">Projects</div>
      <div class="sub-heading">
        They are more than a few lines of code. They are, what I am.
      </div>
      <div class="description">
        <p>Programming is my first love, and from the first glimpse I knew that we would be together for life. My first notable work was released in 2002, and was a game. Over these years I have worked on numerous projects across multiple platforms, operating systems, and languages.</p>
      </div>
    </div>
  </div>

  <div class="inner-shade bg1">

    <div>
      <div id="sticky-bar" class="outer-block tag-bar">
        <div class="inner-block v-padding">
          <div class="sub-heading">Tags</div>
          <ul>
            {tagList.map((tag) => (
              <li>
                <a
                  href="#"
                  class={`button ${tag.name}`}
                  data-tag={tag.name}
                >
                  <img src={`/${tag.iconUrl}`} alt={tag.displayName} />
                  <div class="tag-name">{tag.displayName}</div>
                  <div class="bubble">{tag.count}</div>
                </a>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </div>

    <ul class="projects-list">
      {projects.map((project) => (
        <li class={`project outer-block ${project.tagNames}`}>
          <div class="inner-block v-padding-2x">
            <div>
              <div class="details">
                <a
                  href={project.link ?? '#'}
                  class={`main-image-container ${project.linkClass}`}
                >
                  <div
                    class="rounded main-image"
                    style={`background-image:url(/${project.image});background-size:cover;`}
                  />
                </a>

                <div class="details-container">
                  <div class="title">
                    <a
                      class={`hover-black ${project.linkClass}`}
                      href={project.link ?? '#'}
                      set:html={project.displayName}
                    />
                    {project.git && (
                      <a class="hover-black" href={project.git}>
                        <img src="/images/link.png" alt="Git" />
                      </a>
                    )}
                  </div>

                  <div class="tags">
                    {project._tags.map((tag) => (
                      <img title={tag.displayName} src={`/${tag.iconUrl}`} alt={tag.displayName} />
                    ))}
                  </div>

                  <div class="detail">
                    <div class="detail-type">Technologies</div>
                    <div class="detail-value">{project.technologies}</div>
                  </div>

                  <div class="detail">
                    <div class="detail-type">Chrono</div>
                    <div class="detail-value">{project.chrono}</div>
                  </div>

                  {project.company ? (
                    <div class="detail">
                      <div class="detail-type">Associate</div>
                      <div class="detail-value">
                        <a class="hover-black" href={project.companyHref}>
                          {project.company}
                        </a>
                      </div>
                    </div>
                  ) : (
                    <div class="detail">
                      <div class="detail-type">Project type</div>
                      <div class="detail-value">Personal fun project</div>
                    </div>
                  )}

                  {project.screens.length > 0 && (
                    <div class="gallery-wrapper">
                      {project.screens.map((screen) => (
                        <a href={`/${screen}.jpg`} data-lightbox={project.id} title={project.displayName}>
                          <div
                            class="rounded gallery-thumb"
                            style={`background-image:url(/${screen}t.jpg);background-size:cover;`}
                          />
                        </a>
                      ))}
                    </div>
                  )}
                </div>
              </div>

              {project.screens.length > 0 && (
                <div class="gallery-wrapper">
                  {project.screens.map((screen) => (
                    <a href={`/${screen}.jpg`} data-lightbox={project.id} title={project.displayName}>
                      <div
                        class="rounded gallery-thumb"
                        style={`background-image:url(/${screen}t.jpg);background-size:cover;`}
                      />
                    </a>
                  ))}
                </div>
              )}

              <div class="description" set:html={project.description} />
            </div>
          </div>
        </li>
      ))}
    </ul>

  </div>

</Layout>

<script>
  import { initSticky, initTagFilter } from '../scripts/projects';
  import { Lightbox } from '../scripts/lightbox';

  initSticky('#sticky-bar');
  initTagFilter();
  new Lightbox();
</script>
