{{#import "shared/header-footer"}}
	<div class="contacts-page">

		<div class="outer-block grey-gradiant-half">
			<div class="inner-block v-padding-2x">

				<div class="heading">Contact Me</div>
				<div class="sub-heading">
					Want to team up and create someting great, let's get in touch!
				</div>

				<div class="description v-padding-2x">
					<a title="facebook" href="http://www.facebook.com/sreenathsomarajapuram" class=hover-black>
						<img src="images/icons/facebook-icon-2.png?ver={{version}}" align=middle>
						&nbsp;Friend me over facebook
					</a>
					<a title="e-mail" href="mailto:mailme@sreenaths.com" class=hover-black>
						<img src="images/icons/mail-icon-2.png?ver={{version}}" align=middle>
						&nbsp;mailme@sreenaths.com
					</a>
					<a title="linkedin" href="http://in.linkedin.com/pub/sreenath-somarajapuram/24/993/a84" class=hover-black>
						<img src="images/icons/linkedin-icon-2.png?ver={{version}}" align=middle>
						&nbsp;Connect with me on linkedin
					</a>
					<a title="blogger" href="http://myauxiliarymemory.blogspot.in/" class=hover-black>
						<img src="images/icons/blogger-icon-2.png?ver={{version}}" align=middle>
						&nbsp;Checkout my blog
					</a>
					<a title="google+" href="https://plus.google.com/u/0/107899876735168906791/about" class=hover-black>
						<img src="images/icons/google-icon-2.png?ver={{version}}" align=middle>
						&nbsp;Welcome to my circle
					</a>
					<a title="skype" href="skype:sreenath-s?add" class=hover-black>
						<img src="images/icons/skype-icon-2.png?ver={{version}}" align=middle>
						&nbsp;Skype me at sreenath-s <img class="skype-plus" src="images/plus-button.png"/>
					</a>
					<a title="phone" href="tel:+919611745548" class=hover-black>
						<img src="images/icons/phone-icon-2.png?ver={{version}}" align=middle>
						&nbsp;Or call me at +91-9611-745548
					</a>
				</div>

				<div class="center">
					<img class="cover-image" src="images/contact-me.png?ver={{version}}"/>
				</div>

			</div>
		</div>

	</div>
{{/import}}