{{#import "shared/header-footer"}}

	<link rel="stylesheet" type="text/css" href="css/projects.css">
	<link href="css/lightbox.css" rel="stylesheet" />

	<script src="js/lightbox.js"></script>
	<script>
		sticky("#sticky-bar");
	</script>

	<div class="title-bar outer-block grey-gradiant-half">
		<div class="inner-block v-padding-2x">
			<div class="heading">Projects</div>
			<div class="sub-heading">
				They are more than a few lines of code. They are, what I am.
			</div>
			<div class="description">
				<p>Programming is my first love, and from the first glimpse I knew that we would be together for life. My first notable work was released in 2002, and was a game. Over these years I have worked on numerous projects across multiple platforms, operating systems, and languages.</p>
			</div>
		</div>
	</div>

	<div class="inner-shade bg1">

		<div>
			<div id="sticky-bar" class="outer-block tag-bar">
				<div class="inner-block v-padding">
					<div class=sub-heading>Tags</div>
					<ul>
						{{#each tags as |tag|}}
							<li><a href="#" onClick="toggleTagSelection('{{tag.name}}'); return false;" class="button {{tag.name}}">
								<img src="{{tag.iconUrl}}"/>{{tag.displayName}} <div class="bubble">{{tag.count}}</div>
							</a></li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>

		<ul class="projects-list">

			{{#each projects as |project|}}

				<li class="project outer-block {{project.tagNames}}">
					<div class="inner-block v-padding-2x">
						<div>
							<div class="details">
								<a href="{{project.link}}" class="main-image-container {{project.linkClass}}">
									<div class="rounded main-image" style="background-image:url({{project.image}});" ></div>
								</a>

								<div class="details-container">
									<div class="title" >
										<a class="hover-black {{project.linkClass}}" href="{{project.link}}">
											{{{project.displayName}}}
										</a>

										{{#if project.git}}
											<a class="hover-black" href="{{project.git}}">
												<img src="images/git.png"/>
											</a>
										{{/if}}
									</div>

									<div class="tags">
										{{#each project._tags as |tag|}}
											<img title="{{tag.displayName}}" src="{{tag.iconUrl}}"/>
										{{/each}}
									</div>

									<div class="detail">
										<div class="detail-type">Technologies</div>
										<div class="detail-value">{{project.technologies}}</div>
									</div>

									<div class="detail">
										<div class="detail-type">Chrono</div>
										<div class="detail-value">{{project.chrono}}</div>
									</div>

									{{#if project.company}}
										<div class="detail">
											<div class="detail-type">Associate</div>
											<div class="detail-value">
												<a class="hover-black" href="{{project.companyHref}}">
													{{project.company}}
												</a>
											</div>
										</div>
									{{else}}
									<div class="detail">
										<div class="detail-type">Project type</div>
										<div class="detail-value">Personal fun project</div>
									</div>
									{{/if}}

									{{#if project.screens.length}}
										<div class="gallery-wrapper">
											{{#each project.screens as |screen|}}
												<a href="{{screen}}.jpg" data-lightbox="{{project.id}}" title="{{project.displayName}}">
													<div class="rounded gallery-thumb" style="background-image:url({{screen}}t.jpg);" ></div>
												</a>
											{{/each}}
										</div>
									{{/if}}
								</div>
							</div>

							{{#if project.screens.length}}
								<div class=gallery-wrapper>
									{{#each project.screens as |screen|}}
										<a href="{{screen}}.jpg" data-lightbox="{{project.id}}" title="{{project.displayName}}">
											<div class="rounded gallery-thumb" style="background-image:url({{screen}}t.jpg);" ></div>
										</a>
									{{/each}}
								</div>
							{{/if}}

							<div class="description">
								{{project.description}}
							</div>
						</div>
					</div>
				</li>
			{{/each}}

		</ul>
	</div>
{{/import}}