<!DOCTYPE html>
<html>

	<head>
		<title>{{{title}}}</title>

		<!-- Setting viewport for mobiles -->
		<meta name=viewport content="width=320, initial-scale=1">

		<!-- Load styles -->
		<link rel="stylesheet" type="text/css" href="css/main.css?ver={{version}}">
		<link rel="icon" type="image/png" href="favicon.png?ver={{version}}">

		<!-- Image preloads -->
		<link rel="prefetch" href="images/loader.gif?ver={{version}}"/>
		<link rel="prefetch" href="images/bg-header.jpg?ver={{version}}"/>

		<!-- Load scripts -->
		<script src="js/jq.js?ver={{version}}"></script>
		<script src="js/shared.js?ver={{version}}"></script>
	</head>

	<body class="landscape {{bodyClass}}">

		<div class="loading-msg">
			<img src="images/ss.png?ver={{version}}">
			Loading</br>
			<img src="images/loader.gif?ver={{version}}">
		</div>

		<div class="main-container">
			<script>initLoaderAnim();</script>

			<div class="header outer-block">
				<div class="inner-block">
					<a class="index-link" href="index">
						<img class="logo" src="images/ss.png?ver={{version}}"/>
						<div class="name">&nbsp;Sreenath Somarajapuram</div>
					</a>
					<div class="menu">
						<a class="home-link" href="index">home</a>
						<a class="about-link" href="about">about</a>
						<a class="projects-link" href="projects">projects</a>
						<a class="contacts-link" href="contacts">contacts</a>
					</div>
				</div>
			</div>

			{{import}}

			<div class="footer outer-block">
				<div class="inner-block">

					<div class="small-text">
						© 2017 Sreenath Somarajapuram
					</div>

					<div class="menu float-right">
						<a href="index" class="hover-black">home</a>
						<a href="about" class="hover-black">about</a>
						<a href="projects" class="hover-black">projects</a>
						<a href="contacts" class="hover-black">contacts</a>
					</div>

					<a class="scroll-top hover-black" href="javascript:scrollTop();">&#8682;</a>

				</div>
			</div>
		</div>
	</body>
</html>